@charset "utf-8";
/* CSS Document */
body{background:url(images/pf021.jpg);}
.st_p{background:url(images/b_us.jpg) no-repeat;}

.standard{clear:both;}
.standard .s_list{width:1000px;margin:10px auto;border-bottom:1px solid #8BC34A;padding:50px 0;}
.standard .s_list img{float:left;}
.standard .s_list p{width:850px;padding:15px 0 0 30px;line-height:30px;float:left;color:#555;font-size:16px;}
.standard .list4{border-bottom:none;}




